{% if ajax_only|default(false) %}
	{%~ set using_buttons = true %}
{% else %}
	{%~ set using_buttons = false %}
	{%~ set request_queries = app.request.query.all %}
{% endif %}
{% set display_item_total = paginator.config.displayOption['show_item_total'] %}
{% set display_current_page = paginator.config.displayOption['show_current_page'] %}
{% set display_page_count = paginator.config.displayOption['show_page_count'] %}
{% set display_placeholders = paginator.config.displayOption['show_placeholders'] %}
{% set any_available = paginator.lastPage != paginator.firstPage %}
{% set show_first_last = paginator.config.displayOption['show_bookend_actions'] and paginator.lastPage > 2 %}
{% set numeric_actions = paginator.numericActions %}
{% set action_template = '@WHItemPaginator/action/_action.html.twig' %}
{% set placeholder_template = '@WHItemPaginator/action/_placeholder.html.twig' %}
{% if any_available or display_item_total %}
		<nav class="pagination"{% if ajax_only %} data-query-name="{{ paginator.config.pageRequestQuery }}"{% endif %}>
	{%~ if display_item_total %}
		{%~ set item_total_label = paginator.itemTotalLabel ?? 'pagination.item_total' %}
			<span class="item-total">{{ item_total_label|trans({count: paginator.itemTotal}) }}</span>
	{%~ endif %}
	{%~ if any_available %}
		{%~ set action_label_prefix = 'pagination.action.' %}
		{%~ if paginator.config.displayOption['symbol_based_labels'] %}
			{%~ set action_label_prefix = action_label_prefix ~ 'symbol.' %}
		{%~ else %}
			{%~ set action_label_prefix = action_label_prefix ~ 'label.' %}
		{%~ endif %}
		{%~ if paginator.currentPage != paginator.firstPage %}
			{%~ set prevPage = paginator.currentPage - 1 %}
			{%~ if show_first_last %}
				{%~ if prevPage != paginator.firstPage %}
					{{~ include(action_template, {label: action_label_prefix ~ 'first', action_class: 'goto-first', action_goto: paginator.firstPage, tooltip: 'pagination.action.tooltip.first', rel: 'first', key: paginator.config.shortcutKey['first']}) -}}
				{%~ elseif display_placeholders %}
					{{~ include(placeholder_template, {label: action_label_prefix ~ 'first', action_class: 'goto-first'}) -}}
				{%~ endif %}
			{%~ endif %}
			{{~ include(action_template, {label: action_label_prefix ~ 'prev', action_class: 'goto-prev', action_goto: prevPage, tooltip: 'pagination.action.tooltip.prev', rel: 'prev', key: paginator.config.shortcutKey['previous']}) -}}
		{%~ elseif display_placeholders %}
			{%~ if show_first_last %}
				{{~ include(placeholder_template, {label: action_label_prefix ~ 'first', action_class: 'goto-first'}) -}}
			{%~ endif %}
			{{~ include(placeholder_template, {label: action_label_prefix ~ 'prev', action_class: 'goto-prev'}) -}}
		{%~ endif %}
		{%~ if numeric_actions is not empty %}
		  {%~ for page_num in numeric_actions %}
			{%~ if page_num == paginator.currentPage %}
			<span class="current-page">{{ paginator.currentPage }}</span>
			{%~ else %}
				{{~ include(action_template, {action_class: 'goto-page', action_goto: page_num}) -}}
			{%~ endif %}
		  {%~ endfor %}
		{%~ else %}
			{%~ if display_current_page %}
			<span class="current-page">{{ paginator.currentPage }}</span>
			{%~ endif %}
			{%~ if display_current_page and display_page_count %}
			{{ paginator.config.displayOption['separator'] }}
			{%~ endif %}
			{%~ if display_page_count %}
			<span class="page-count">{{ paginator.lastPage }}</span>
			{%~ endif %}
		{%~ endif %}
		{%~ if paginator.currentPage != paginator.lastPage %}
			{%~ set nextPage = paginator.currentPage + 1 %}
			{{~ include(action_template, {label: action_label_prefix ~ 'next', action_class: 'goto-next', action_goto: nextPage, tooltip: 'pagination.action.tooltip.next', rel: 'next', key: paginator.config.shortcutKey['next']}) -}}
			{%~ if show_first_last %}
				{%~ if nextPage != paginator.lastPage %}
					{{~ include(action_template, {label: action_label_prefix ~ 'last', action_class: 'goto-last', action_goto: paginator.lastPage, tooltip: 'pagination.action.tooltip.last', rel: 'last', key: paginator.config.shortcutKey['last']}) -}}
				{%~ elseif display_placeholders %}
					{{~ include(placeholder_template, {label: action_label_prefix ~ 'last', action_class: 'goto-last'}) -}}
				{%~ endif %}
			{%~ endif %}
		{%~ elseif display_placeholders %}
			{{~ include(placeholder_template, {label: action_label_prefix ~ 'next', action_class: 'goto-next'}) -}}
			{%~ if show_first_last %}
				{{~ include(placeholder_template, {label: action_label_prefix ~ 'last', action_class: 'goto-last'}) -}}
			{%~ endif %}
		{%~ endif %}
	{%~ endif %}
		</nav>
{%- endif %}